/**
 * Silicon Forest Map
 * Copyright 2015 Todd Brochu
 */
html, body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: AkkuratTT, sans-serif;
    font-size: 14px;
}

.left-panels {
    background-color: #e6e7e8;
    height: 99%;
    width: 31%;
}

.navbar {
    left: 0;
    height: 5%;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

#open-about-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 2%;
    min-height: 30px;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #01aad2;
}

#about {
    display: none;
    position: absolute;
    vertical-align: middle;
    top: 18%;
    left: 40%;
    width: 50%;
    height: 60%;
    max-height: 450px;
    background-color: #e6e7e8;
    opacity: 0.85;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #01aad2;
    padding: 10px;
}

#close-about-button {
    position: absolute;
    bottom: 5%;
    left: 90%;
    width: 50px;
    height: 40px;
    font-size: 16px;
    background-color: #e6e7e8;
}

#left-menu-header {
    position: relative;
    height: 6%;
    border-style: solid;
    border-width: 3px;
    border-color: #01aad2;
    border-bottom: none;
    border-right-color: #e6e7e8;
    text-align: left;
}

.start-here {
    position: absolute;
    top: 10px;
    right: 25px;
	background-color:#01d235;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:14px;
	padding:6px 13px;
	text-decoration:none;
}
.start-here:hover {
	background-color:#0d9c35;
}

#regions {
    height: 29%;
    overflow-y: scroll;
    line-height: 15px;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 1px;
    border-color: #01aad2;
    border-top: none;
    border-right-color: #e6e7e8;
}

#results {
    height: 50.25%;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    line-height: 22px;
    border-style: solid;
    border-width: 3px;
    border-color: #01aad2;
    border-top: none;
    border-bottom-color: #01aad2; 
    border-right-color: #e6e7e8;
    padding-left: 40px;           
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    width: 68.75%;
    border-style: solid;
    border-width: 3px;
    border-color: #01aad2;
}

.locationInfo {
    overflow: hidden;
    white-space: nowrap;
}