/**
 * City Scatterplot
 * Copyright 2015 Todd Brochu
 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: AkkuratTT, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.left-panels {
    background-color: #e6e7e8;
}

.navbar {
    left: 0;
    width: 354px;
    height: 40px;
    position: relative;
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    line-height: 1;
}

#info {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    font-size: 16px;
    border-style: solid;
    border-width: 2px;
    border-color: #01a8d2;
}

#left-menu-header {
    width: 354px;
    border-style: solid;
    border-width: 3px;
    border-color: #01a8d2;
    border-bottom-color: #e6e7e8;
    border-right-color: #e6e7e8;
    padding-bottom: 8px;
    text-align: left;
    line-height: 1;
}

#regions {
    width: 351px;
    height: 180px;
    overflow-y: scroll;
    line-height: 15px;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 1px;
    border-color: #01a8d2;
    border-top-color: #e6e7e8;
}

#results {
    width: 311px;
    height: 302px;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    line-height: 22px;
    border-style: solid;
    border-width: 3px;
    border-color: #01a8d2;
    border-top-color: #e6e7e8;
    border-bottom-color: #01a8d2; 
    padding-left: 40px;
    padding-bottom: 20px;           
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    height: 99%;
    width: 1006px;
    border-style: solid;
    border-width: 3px;
    border-color: #01a8d2;
}